API_ID=
API_HASH=

REF_ID=K3AWKBV9

AUTO_FARMING=True
AUTO_DAILY_REWARD=True

AUTO_PLAY_GAME=True
POINTS_COUNT=[100,300]
AUTO_TASK=True
AUTO_CLAIM_INVITE_REWARDS=True

FAKE_USERAGENT=False
USE_RANDOM_DELAY_IN_RUN=False
RANDOM_DELAY_IN_RUN=[0,15]
USE_PROXY_FROM_FILE=False
